{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block content %}
    <form action="/sell" method="post" enctype = "multipart/form-data">
        <div class = "w-25 ms-auto me-auto my-5 form-floating">
            <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Product Name" type="text">
            </div>
            <div class="mb-3">
                    <textarea autocomplete="off" autofocus class="form-control" placeholder="Description" name="desc" id="ta"></textarea>
            </div>
            <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control" name="minprice" placeholder="Min Price" type="number" min="0" step="0.01" >
            </div>
            <div class= "mb-3">
                    <select class="form-select" name="category">
                          <option selected disabled>Select Category</option>
                          {% for cat in categories %}
                              <option value="{{ cat }}">{{ cat.name }}</option>
                          {% endfor %}
                    </select>
            </div>
            <div class= "mb-3">
                    <input class="form-control" name="file" placeholder="upload your photo" type="file" accept="image/*">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Add Commodity</button>
            </div>
        </div>
    </form>
{% endblock %}
